.altura {
    position: absolute;
	top: 15%;
	left: 0%;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
.altura2 {
    position: absolute;
	top: 19%;
	left: 0%;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
.altura3 {
    position: absolute;
	top: 60%;
	left: 0%;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
.altura4 {
    position: absolute;
	top: 23%;
	left: 0%;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
.altura5 {
    position: absolute;
	top: 134%;
	left: 0%;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
.altura6 {
    position: absolute;
	top: 24%;
	left: 0%;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
.altura7 {
    position: absolute;
	top: 12%;
	left: 0%;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
.altura8 {
    position: absolute;
	top: 15%;
	left: 0%;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
.altura9 {
    position: absolute;
	top: 16%;
	left: 0%;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
altura10 {
    position: relative;
	top: 40000%;
	left: 0%;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
altura11 {
    position: absolute;
	top: 200%;
	left: 0%;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
altura12 {
    position: absolute;
	top: 14%;
	left: 0%;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}