.cuadrado {
width: 700px;
height: 400px;
position: relative;
left: 650px;
}

.rectangulo {
    width: 700px;
    height: 380px;
position: absolute;
left: 02%;
bottom: 28%;
}

.icono1{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 1300px;
    top: 7px;
}

.icono2{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 1250px;
}

.form{
    width: 800px;
    height: 50px;
    position: absolute;
    left: 300px;
    top: 10px;
}

.lupa{
    width: 100px;
    height: 30px;
    position: absolute;
    left: 1058px;
}

.casa{
    width: 10px;
    height: 10px;
    position: absolute;
}

.casa2{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 60px;
    left: 5px;
}

.boton{
    width: 200px;
    height: 50px;
    position: absolute;

    top: 60px;
    left: 1000px;

}